html, body {
	font-family: Arial, serif;
	color: #444;
}

.centered{
	text-align: center;
}
.all-form {
	margin-top: 15%;
}
.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    color: #CC0000;
	text-align: center;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}